<div class="row">
    <div class="col-md-12">
        <div class="portlet">
            <div class="portlet-body">
                <div class="table-container">
                    <div class="table-actions-wrapper">
						{% if grid.hasMassAction %}
                            <select class="table-group-action-input form-control input-inline input-small input-sm" title="{% trans %}Mass action{% endtrans %}">
                                <option value="">{% trans  %} -- select -- {% endtrans %}</option>
                                {% for massAction in grid.massActionCollection %}
                                    <option value="{{ massAction.getIndex }}" {% if massAction.isConfirm %}data-confirm="{{ massAction.getConfirm }}"{% endif %}>{{ massAction.getName }}</option>
                                {% endfor %}
                            </select>
                            <button class="btn btn-sm yellow table-group-action-submit"><i class="fa fa-check"></i> {% trans %}Execute{% endtrans %}</button>
                        {% endif %}
                    </div>
                    <table class="table table-striped table-bordered table-hover" id="{{ grid.getName }}">
                        {{ include('@AseksasGrid/Grid/header.html.twig', {'grid': grid}) }}
                        {{ include('@AseksasGrid/Grid/content.html.twig', {'grid': grid}) }}
                        {{ include('@AseksasGrid/Grid/footer.html.twig', {'grid': grid}) }}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{#<table width="100%" id="{{ grid.getName }}">#}
    {#<thead>#}
        {#<tr>#}
            {#{%  for column in grid.columnCollection %}#}
                {#{% if loop.first and grid.hasMassAction() %}#}
                    {#<td><input type="checkbox"/></td>#}
                {#{% endif %}#}
                {#<td>{{ column.getName }}</td>#}
            {#{% endfor %}#}
        {#</tr>#}
    {#</thead>#}
    {#<tbody>#}
    {#{% for row in grid.getD %}#}
        {#<tr>#}
        {#{% for item in row %}#}
            {#<td>{{ item.getValue|raw }}</td>#}
        {#{% endfor %}#}
        {#</tr>#}
    {#{% endfor %}#}
    {#</tbody>#}
    {#<tfoot>#}
        {#{%  for column in grid.columnCollection %}#}
            {#{% if loop.first and grid.hasMassAction() %}#}
                {#<td></td>#}
            {#{% endif %}#}
            {#<td></td>#}
        {#{% endfor %}#}
    {#</tfoot>#}
{#</table>#}